<div class="options">

  <div class="sidebar">

    <a routerLink="flight"><div><h2> FLIGHT BOOKING</h2></div></a>

    <a routerLink="bus"><div><h2>BUS BOOKING</h2></div></a>

    <a routerLink="car"><div><h2>CAR BOOKING</h2></div></a>

    <a routerLink="Hotel"><div><h2>HOTEL BOOKING</h2></div></a>

    <a routerLink="employee"><div><h2>EMPLOYEE TABLE</h2></div></a>

  </div>
  
  <div>

    <router-outlet></router-outlet>

  </div>

  
<div class="question">
   
  <div>
      
    <h3>Where?</h3>
     
    <p>You can reach us for travel any location..</p>
    
  </div>
    
  <div>
     
    <h3>Transport?</h3>
      
    <p>You can reach us for FLIGHTBOOKING over country</p>
   
  </div>
  
</div>

</div> 

